
.div1{
    border: 2px solid black;
    width: 600px;
    height: 500px;
    margin: auto;
    margin-top: 5% ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.div2{
    width: 599px;
    height: 30px;
    background-color: rgb(218, 218, 218) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    background-color: rgb(218, 218, 218) ;
    border: none;
 }
.div3{
    width: 406px;
    height: 50px;
    margin: auto;
    font-family:黑体;
    font-weight: 1000;
}

textarea{
    font-size: 20px;
    resize:none;
}

.div4{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.a1{
    color: green;
    text-decoration: none;
}

.button1{
    width: 405px;
    height: 30px;
    background-color: rgb(16, 173, 16);
    color: honeydew;
    border-radius: 5px;
}

hr{
    width: 100px;
}

.button2{
    width: 405px;
    height: 30px;
    background-color: white;
    border: black solid 1px;
    border-radius: 5px;
}

.div5{
    font-family: 宋体;
    font-weight: 100;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

.a2{
    color: blue;
    text-decoration: none;
}

